## EC Notebook for Lecture 34: Hypothesis Testing

This extra credit Python notebook will let you practice the material you saw in lecture.  Completing all parts of this notebook will earn +1 extra credit point to your grade in STAT 107! :)

This notebook is worth +1 if turned in before 11:30 am on **Wednesday, Nov. 20** *(30 minutes before the next STAT 107 lecture)*.  You can feel free to complete it anytime for extra practice.

### The GPA Dataset

In the previous labs and ECs, we have calculated the average GPA for all the courses as below.

In [2]:
import pandas as pd
df = pd.read_csv("gpa.csv")
df["size"] = 0
df["GPA"] = 0

grades = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F"]
points = [4, 4, 3.67, 3.33, 3, 2.67, 2.33, 2, 1.67, 1.33, 1, 0.67, 0]
for i in range(len(grades)):
    df["size"] += df[grades[i]]
    df["GPA"] += df[grades[i]] * points[i]
df["GPA"] /= df["size"]
df.sample(5)

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,size,GPA
18293,2015,Spring,2015-sp,CHLH,101,Introduction to Public Health,0,7,4,9,...,4,1,0,1,1,0,0,"Weisman, Courtney J",48,2.972292
12468,2016,Fall,2016-fa,PSYC,350,Personality Lab,0,53,0,0,...,1,0,0,1,0,2,0,"Fraley, Robert C",70,3.628571
5686,2017,Fall,2017-fa,CHEM,105,General Chemistry Lab II,10,12,5,2,...,0,0,0,0,0,0,0,"Strasser, Caitlyn E",31,3.839032
37745,2011,Spring,2011-sp,ME,471,Finite Element Analysis,1,30,7,1,...,2,0,1,0,0,0,0,"Koric, Seid",48,3.653125
4484,2018,Spring,2018-sp,PSYC,235,Intro to Statistics,5,7,4,2,...,2,2,0,1,1,2,0,"Wang, Michelle Y",36,2.945000

## 1. The One-Sample Z Test

Suppose someone claims that the average GPA of all the courses in UIUC is 3.33, and you want to find out whether this number is trustworthy. However, you don't have permission to access the whole dataset except for a random sample of 100 courses. How can you test the given claim?

### z-test for means
Randomly sample 100 courses from the given DataFrame, calculate the p-value of this sample.

In [22]:
from scipy.stats import norm
import random

In [12]:
df_sample = df.sample(100)
z = 10 * (3.33 - df_sample["GPA"].mean()) / df_sample["GPA"].std()
p_value = norm.cdf(z)


p_value

0.7826426613348267

### z-test for proportions

Someone also claims that 26% of courses in the DataFrame have over 50 students. To test this claim, you are going to 
1. create a function to randomly sample 100 classes and return the number of courses whose size is larger than 50.
2. Run the sampling function for 100 times and store the results in a new DataFrame `df_res`.
3. Find the min, max and average of the number.

In [30]:
def sample_class():
    count = 0
    for i in range(100):
        if random.randint(1,100) <= 26:
            count += 1
    return count

data = []
for i in range(100):
    d = {"over 50" : sample_class() }
    data.append(d)

df_res = pd.DataFrame(data)
res_min = df_res.min()
res_max = df_res.max()
res_avg = df_res.mean()

print(int(res_min), int(res_max), int(res_avg))

15 37 26

In [31]:
## == TEST CASES for Part 1,2,3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df_sample) == 100), "Make sure you sample 100 classes."
assert(p_value > 0.01), "Make sure you calculate the right p value."
assert(sample_class() < 50), "Make sure you create the right function."
assert(len(df_res) == 100), "Make sure you create the right dataframe df_res."
assert(int(res_min) < 20 and int(res_max) > 30 and abs(int(res_avg)-26)<2), "Make sure you create the right dataframe df_class."


## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰