# Welcome to lab k-means(karle)!

We will be exploring k-means clustering and loops in this lab. 
I promise this won't be scary :)

Really, loops are an incredibly useful tool that will help you code for other purposes in life. We're going to start by introducing you to while and for loops and then we will apply them to clustering.

## Part 1: While loops
A while loop allows us to execute the same piece of code until a condition is met.

For example, the following code will execute 3 times.

In [1]:
count = 0
while (count < 3):
    print("Rah")
    count = count + 1
print(count)

Rah
Rah
Rah
3

Let's break down the code:
`while (count < 3):`

- `while` means we are starting a while loop. 
- `count < 3` is the looping condition. While this statement evaluates to true, you keep doing what is in the loop body.
- Everything that follows the colon is the loop body. This is what is executed. You can tell what is in the loop body because it is indented. The first line that is not indented starts the code that is OUTSIDE the loop body.

These are the parts of a loop. Now, how the computer executes the loop is by doing the following:
- Evaluate the loop condition (i.e., check, is count less than 3), if it's true, execute the loop body, if it's false, execute the first statement outside the loop body (the first non-indented statement, i.e., 'print(count)')
- Execute each line of the loop body one at a time
- Once you reach the end of the loop body, jump back up to the top of the while loop and repeat the first step.

Probably the most important part of this loop is the line `count = count + 1`. What do you think would happen if we removed this line? Try it!

In [ ]:
count = 0
while (count < 3):
    print("Rah")
    
# press the stop button next to the run button at the top of your screen when you've seen enough

Because we don't increment count, our looping condition is always true! This is called an `infinite loop`, and the computer will keep executing the loop body until you manually stop it or something crashes.

### Puzzle 1.1
Predict what the following code will print (actually write this out before running it; I promise it will help you).

The following code outputs the letters: _____ILLINI!!!!

In [3]:
n = 0
while n < 10:
    if n == 0 or n == 3 or n == 5:
        print("I")
    elif n == 1 or n == 2:
        print("L")
    elif n == 4:
        print("N")
    else:
        print("!")
    n = n + 1

I
L
L
I
N
I
!
!
!
!

### Puzzle 1.2

Fill in the looping condition so that the loop produces the following output:
Bow wow wow

In [4]:
n = 0
output = ""
while n < 3:
    if n == 0:
        output += "Bow "
    else:
        output += "wow "
    n = n + 1
print(output)

Bow wow wow

In [5]:
## == TEST CASES for Puzzle 2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert((n-3)/3 ==0 and n%3 ==0 and output == "Bow wow wow "), "Make sure you are using the correct condition"
print("Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!")

Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!

### Puzzle 1.3
We want the following code to print "go go go go go." Change the loop so it does so *without* changing the looping condition.

In [10]:
n = 5
output = ""
while n < 10:
    output += "go "
    n +=1
print(output)

go go go go go

In [11]:
## == TEST CASES for Puzzle 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert(output == "go go go go go "), "Make sure you are modifying the code correctly"
print("Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!")

Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!

## For loops
There are two main kinds of loops in computer science. You just learned the while loop and the other kind of loop is the for loop, which we've seen before. Let's review it! Take a look at this simple for loop.

In [12]:
for i in range(0,3):
    print("Rah " + str(i))
print("!")

Rah 0
Rah 1
Rah 2
!

The first line of the for loop tells us how many times the loop is going to execute. Let's break it down one word at a time.

```for```- the keyword indicating that this is a for loop. The end of the line should have a colon and every line of the loop body is indented.

```i```- this is a variable name that will tell us what iteration of the loop we are in. This variable can take any name, by convention we tend to use i for index, but you could replace i with unicorns and the loop will still work.

```range(0,3)```- range is a function that returns an array of integers between the two given integers. If you're a math person, range covers this interval: \[0, 3), meaning that 0 is included in the range but 3 is not. So this loop runs for i=0, i=1, and i=2, or three iterations total. The loop handles moving i to the next integer for you at the end of the loop body.

Great! Now that we remember what a for loop is, see if you can answer the following questions about the above for loop example.

1. Why is the exclamation mark only printed once?
2. Does i ever take on the value 3? Why or why not?
3. Can you have an infinite for loop?

### Puzzle 1.4

Complete the following loop so that it prints out "even odd even odd "

In [17]:
output = ""
for i in range(0,4):
    if i%2 == 0:# determine if i is even
        output += "even "
    else:
        output += "odd "
print(output)

even odd even odd

In [18]:
## == TEST CASES for Puzzle 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(output == "even odd even odd "), "Make sure you are modifying the code correctly"
print("Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!")

Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!

### Puzzle 1.5
Complete the first line of this for loop so that it prints "odd even odd even "

In [19]:
output = "odd "
for i in range(3):
    if i%2 == 0:
        output += "even "
    else:
        output += "odd "
print(output)

odd even odd even

In [20]:
## == TEST CASES for Puzzle 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
code = _i
code.replace(" ","")

assert(output == "odd even odd even "), "Make sure you are modifying the code correctly"
print("Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!")

Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!

### Puzzle 1.6
Take a look at the following for loop. Write a while loop that creates the same output.

In [21]:
output = ""
for index in range(0,3):
    output += str(index) + " hey\n"
print(output)

0 hey
1 hey
2 hey

In [25]:
# create a while loop here!
n = 0
output = ""
while n < 3:
    output += str(n) + " hey\n"
    n = n + 1

print(output)

0 hey
1 hey
2 hey

In [26]:
## == TEST CASES for Puzzle 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert(output == "0 hey\n1 hey\n2 hey\n"), "Make sure you are modifying the code correctly"
print("Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!")

Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!

### Puzzle 1.7
Take a look at the following while loop. Write a for loop that creates the same output.

In [27]:
i = 0
output = ""
while (i < 5):
    output += "what\n"
    i = i + 1
output += "?"
print(output)

what
what
what
what
what
?

In [28]:
#create a for loop here
output = ""
for n in range(5):
    output += "what\n"
output += "?"
print(output)

what
what
what
what
what
?

In [29]:
## == TEST CASES for Puzzle 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(output == "what\nwhat\nwhat\nwhat\nwhat\n?" and n==4), "Make sure you are modifying the code correctly"
print("Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!")

Congrats!ðŸŽ‰ðŸ˜ŠAll tests passed!

## Part 2: Iris Flowers

One of the **most classic** datasets in statistics is the "Iris Flower dataset".  This dataset is a collection of five variables:

- Sepal Length (cm)
- Sepal Width (cm)
- Petal Length (cm)
- Petal Width (cm)
- Species Classification


In the dataset, there are three species present:

![iris.jpg](iris.jpg)

This data is so classic that it is included as part of the `sklearn` Python library we have been using to do various forms of machine learning so far!  The following cell will load the dataset into a DataFrame `df`:

In [145]:
from sklearn import datasets
import pandas as pd

iris = datasets.load_iris()
df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
df['species'] = iris['target']
df['species name'] = iris['target_names'][ iris['target'] ]
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species name
46,5.1,3.8,1.6,0.2,0,setosa
45,4.8,3.0,1.4,0.3,0,setosa
130,7.4,2.8,6.1,1.9,2,virginica
0,5.1,3.5,1.4,0.2,0,setosa
9,4.9,3.1,1.5,0.1,0,setosa

### Puzzle 2.1: Fit the Model

Build a k-means clustering model with **three** clusters and train the model using all four input measurements:

- Sepal Length (cm)
- Sepal Width (cm)
- Petal Length (cm)
- Petal Width (cm)

In [173]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3)

In [174]:
kmeans = kmeans.fit(df[ ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'] ])

### Puzzle 2.2: Predict the Outcome

Use the k-means clustering model to predict the species, adding the predicted species as a new column called `predicted species`.

In [175]:
df['predicted species'] = kmeans.predict(df[ ['sepal length (cm)', 'sepal width (cm)',
                                              'petal length (cm)', 'petal width (cm)']])



df.sample(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species name,predicted species
4,5.0,3.6,1.4,0.2,0,setosa,0
74,6.4,2.9,4.3,1.3,1,versicolor,1
20,5.4,3.4,1.7,0.2,0,setosa,0
49,5.0,3.3,1.4,0.2,0,setosa,0
44,5.1,3.8,1.9,0.4,0,setosa,0
26,5.0,3.4,1.6,0.4,0,setosa,0
77,6.7,3.0,5.0,1.7,1,versicolor,2
14,5.8,4.0,1.2,0.2,0,setosa,0
9,4.9,3.1,1.5,0.1,0,setosa,0
140,6.7,3.1,5.6,2.4,2,virginica,2

### Puzzle 2.3: Find the Accurarcy

Finally, find the percentage of observations where the predicted species DOES match the actual species and store this percentage in the variable `accuracy`:

In [178]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species name,predicted species
0,5.1,3.5,1.4,0.2,0,setosa,0
1,4.9,3.0,1.4,0.2,0,setosa,0
2,4.7,3.2,1.3,0.2,0,setosa,0
3,4.6,3.1,1.5,0.2,0,setosa,0
4,5.0,3.6,1.4,0.2,0,setosa,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica,2
146,6.3,2.5,5.0,1.9,2,virginica,1
147,6.5,3.0,5.2,2.0,2,virginica,2
148,6.2,3.4,5.4,2.3,2,virginica,2
149,5.9,3.0,5.1,1.8,2,virginica,1

In [123]:
Out[74]

0.8933333333333333

In [176]:
accuracy = len(df[df["predicted species"] == df["species"]]) / len(df)


accuracy
#df[df["predicted species"] == df["species"]]

0.8933333333333333

In [177]:
## == TEST CASES for Puzzle 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert('predicted species' in df), "Make sure you have a column named `predicted species`"
assert(accuracy > 0.8), "Your accuracy should be higher than what you calculated!"

print("Congrats!ðŸŽ‰ðŸ˜Š All tests passed!")

Congrats!ðŸŽ‰ðŸ˜Š All tests passed!

## Submit Your Work!

You're almost done -- congratulations!

You need to do two more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. Choose `File` and then `Close and Halt` from this notebook.

3. Choose `Quit` on the main notebook webpage.

4. Return to your command line and follow the directions on the Data Science Discovery page on how to use git to turn this notebook into the course!